__pycache__
.ipynb_checkpoints
*.egg-info
.idea
.DS_Store
.vscode
data
output
.history
*.zip
venv
.coverage
htmlcov
html
dist/*
profile.html
profile.json
*.log
.ruff_cache
.pytest_cache
build/
*.cpp
*.c
*.pyx
*.so
*.html
/benchmark/results
*.pkl
*.pdf
out.prof*
